
<div class="text-center">
    <h1>Admin Page</h1>
</div>
<div class="text-center">
    @Html.ActionLink("Add Genres", "", "Genres", new { area = "" }, new { @class = "btn btn-primary" })
</div>
<div class="text-center">
    @Html.ActionLink("View Transactions", "", "Transactions", new { area = "" }, new { @class = "btn btn-primary" })
</div>
<div class="text-center">
    @Html.ActionLink("Manage Users", "", "Users", new { area = "" }, new { @class = "btn btn-primary" })
</div>
<div class="text-center">
    @Html.ActionLink("Add Books", "", "Books", new { area = "" }, new { @class = "btn btn-primary" })
</div>
<div>
    <a asp-action="Back">Back</a>
</div>