@model List<Book>

<div class="text-center">
    <h1>Welcome to the Library Management System</h1>
    <p>Search for books:</p>

    <form asp-controller="Books" asp-action="Search" method="get">
        <input type="text" name="searchTerm" placeholder="Enter text here" />
        <button type="submit">Search</button>

        <label for="selectedProperty">Select a category:</label>
        <select id="selectedProperty" name="selectedProperty">
            <option value="Name">Title</option>
            <option value="ISBNumber">ISBN</option>
            <option value="GenreId">Genre</option>
        </select>
    </form>

    @if (Model != null && Model.Any())
    {
        <h2>Search Results:</h2>
        <ul>
            @foreach (var book in Model)
            {
                <li>
                    @Html.ActionLink(book.Name, "Details", "Books", new { id = book.BookId }, null)
                </li>
            }
        </ul>
    }
</div>
